*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
     box-sizing: border-box;
}

body{

    font-family: 'Open Sans', sans-serif;
}

h1{
    font-size: 35px;
    color: #c0ae7f;
    font-weight: 600;
    padding: 0px 0px 20px 0px;
    line-height: 1.2em;
}

h2{
    font-size: 35px;
    padding-top: 20px;
    padding: 0px 0px 10px 0px;
    text-shadow: 1px 2px 4px #9c8f6c87;
    color: #323336;
}

p{
    font-size: 18px;
    color: #dbd7cd;
    line-height: 1.2em;
    margin-bottom: 50px;
}

li{
    color: #323336;
    font-size: 15px;
}

header{
    background: #323336;
    width: 100%;
    padding: 20px 0px 20px 0px;
    border-bottom: solid 4px #dbd7cd;
    z-index: 2;
    position: fixed;
    
}
.bannerAddPadding{
    padding-top: 175px;
}



.container{
    max-width: 1040px;
    margin: auto;   
    padding: 0px 20px 0px 20px;
    display: flex;
}

.rowBox .logo{
    text-decoration: none;
    color: #dbd7cd;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: capitalize;
}


.rowBox:nth-child(1) a span{
    font-size: 30px;
    color: #c0ae7f;
}

.rowBox:nth-child(1){
    width: 50%;
}

.rowBox:nth-child(2){
    width: 50%;
}

.rowBox:nth-child(2) .navMenu{
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    list-style: none;

    
}
.rowBox:nth-child(2) .navMenu .menuList .menuLink{
    text-transform: capitalize;
    font-size: 18x;
    text-decoration: none;
    transition: 100ms ease-in-out;
    color: #dbd7cd;
}

.rowBox:nth-child(2) .navMenu .menuList .menuLink:hover{
    color: #dbd7cd;
}
.rowBox:nth-child(2) .navMenu .menuList .menuLink::after{
    content: "";
    background: #dbd7cd;
    width: 0px;
    display: block;
    transition: 100ms ease-in-out;
    height: 5px;
    border-radius: 10px;
}

.rowBox:nth-child(2) .navMenu .menuList .menuLink:hover::after{
    width: 100%;
}

.rowBox:nth-child(2) .navMenu .navLogin{
    background: #dbd7cd;
    padding: 12px 30px 12px 30px;
    border-radius: 5px;
    color: #323336;
    text-decoration: none;
    font-size: 18px;
    text-transform: capitalize;
    transition: 100ms ease-in-out;
}

.rowBox:nth-child(2) .navMenu .navLogin:hover{
    background: rgb(227, 228, 216);
    
}

/* 
This is responsive menu */
.toggleBtn{
    display: none;
}


.menu{
    display: none;
    visibility: hidden;
}


section{
    background: #323336;
    width: 100%;
    padding: 100px 0px 100px 0px;
}

.name{
    color: #dbd7cd;
    cursor: pointer;
    letter-spacing: 2px;
}

.ctaBtn{
    background: #dbd7cd;
    text-decoration: none;
    color: #323336;
    font-size: 18px;
    border-radius: 5px;
    padding: 18px 30px 18px;
    transition: 100ms ease-in-out;
}
.ctaBtn:hover{
    background: rgb(227, 228, 216);
}




.banner .rowBox:nth-child(1){
    margin: auto;
}

.banner .rowBox:nth-child(2){
    display: flex;
    margin: auto;
}

.banner .rowBox:nth-child(2) .jeromeImage{
  margin: auto;   
  border: solid 4px #dbd7cd;
  border-radius: 5%;
  box-shadow: 20px 20px 1px #c0ae7f;
}

.jeromeImage img{
    width: 300px;
    border-radius: 5%;
    height: 300px;
}

/* This is about section */

.aboutSection{
    /* background-image: url('../images/Bg.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
    background: #fff;
    background-position: center bottom;
   
}

.geerColor1{
    color: #fff;
    transform: translateX(200px);
    font-size: 50px;
}
.geerColor2{
    color: #fff;
    font-size: 50px;
}
.geerColor3{
    color: #111;
    position: absolute;
    margin-top: 60px;
    font-size: 75px;
}

.headingAbout{
    color: #111;
}

.bodyText{
    color: #111;
}
.about{
    background: #111;
    color: #fff;
}
.about:hover{
    background: #DBF14C;
    color: #111;
    box-shadow: 1px 10px 10px rgba(17, 17, 17, 0.123);
}

/* 
This is skills section */
.aboutContainer{
    display: flex;
    flex-wrap: wrap;
}


.skillsrow:nth-child(1){
    width: 450px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.skillsrow:nth-child(2){
    width: 450px;
    text-align: center;

}


.progress1, .progress2, .progress3, .progress4, .progress5{
    height: 20px;
    background: #fff;
    margin: auto;
    width: 80%;
    margin: 20px 0px 20px 0px;
    border-radius: 100px;
}

.progressInner1, .progressInner2, .progressInner3, .progressInner4, .progressInner5{
    background: #DBF14C;
    height: 20px;
    width: 0%;
    border-radius: 100px;
    display: flex;
    box-shadow: 0px 5px 10px rgba(17, 17, 17, 0.591);
    transition: 2s linear;
    

}

.counNumber1, .counNumber2, .counNumber3, .counNumber4, .counNumber5{
    color: #111;
    font-size: 15px;
    margin: auto;
    font-weight: 600;
}
.countC1, .countC2, .countC3, .countC4{
    color: #fff;
    font-size: 15px;
    margin: auto;
    font-weight: 600;
}

section#skills {
    background: #fff;
}


/* This is for circle progress bar */

.holderProgress{
    width: 100%;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: auto auto;
    display: grid;
    padding: 20px;

}



.circleContainer{
    width: 160px;
    height: 160px;
    display: flex;
    flex-wrap: wrap;
    margin: 0px auto 0px auto;
}




.circleOutter{
    border-radius: 50%;
    width: 160px;
    height: 160px;
    display: flex;
    background: #fff;
    justify-content: center;
    align-items: center;
    margin: auto;

}
.circleInner{
    border-radius: 50%;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background: #111;
}


.circle1{
    fill: none;
    stroke: #DBF14C;
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: animateProgress1 2s linear forwards;
}
.circle2{
    fill: none;
    stroke: #DBF14C;
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: animateProgress2 2.50s linear forwards;
}
.circle3{
    fill: none;
    stroke: #DBF14C;
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: animateProgress3 1s linear forwards;
}
.circle4{
    fill: none;
    stroke: #DBF14C;
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: animateProgress4 1s linear forwards;
}


@keyframes animateProgress1{
    100%{
        stroke-dashoffset: 250;
    }
}
@keyframes animateProgress2{
    100%{
        stroke-dashoffset: 230;
    }
}
@keyframes animateProgress3{
    100%{
        stroke-dashoffset: 250;
    }
}
@keyframes animateProgress4{
    100%{
        stroke-dashoffset: 250;
    }
}

.progressC{
   transform: translate(0px, -100%);
}



/* This is the code for resposive */

@media(max-width: 860px) {
    
 
    .rowBox:nth-child(2) .navMenu {
        display: none;
    }

    .rowBox:nth-child(2){
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .toggleBtn{
        width: 30px;
        display: block;
        height: 30px;        
        cursor: pointer;
    }

    .toggleBtn .line1{
        background: #fff;
        width: 100%;
        margin: 4px 0px 0px 0px;
        height: 4px;
        border-radius: 100px;
        transition: 100ms ease-in-out;
    }

    .toggleBtn .line2{
        background: #fff;
        width: 100%;
        margin: 5px 0px 0px 0px;
        height: 4px;
        border-radius: 100px;
        transition: 200ms ease-in-out;
    }
    .toggleBtn .line3{
        background: #fff;
        width: 100%;
        margin: 5px 0px 0px 0px;
        height: 4px;
        border-radius: 100px;
        transition: 100ms ease-in-out;
    }

    /* ANIMATE */
    .toggleBtn.open .line1{
        background: rgb(219, 241, 76);;
        transform: rotate(40deg);
        position: relative;
        top: 9px;
    }
    .toggleBtn.open .line2{
        background: rgb(219, 241, 76);;
        position: relative;
        left: -20px;
        opacity: 0;
    }
    .toggleBtn.open .line3{
        background: rgb(219, 241, 76);;
        position: relative;
        transform: rotate(-40deg);
        top: -9px;
    }




    /* posonsive menu */
    .menu{
        width: 100%;
        height: 100vh;
        position: absolute;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        display: none;
        visibility: visible;
    }
    
    .containerMenu{
        background: #111;
        width: 70%;
        margin: 50px 0px 0px auto;
        border-bottom-left-radius: 100px;
        height: 65%;
        display: flex;
        animation: animate 1s;
    }
    .paddindRemove{
        padding-bottom: 120px;
    }

    @keyframes animate {
        from{
            transform: translateY(-100%);
        }   
        to{
            transform: translateY(0%);
        }
    }    


    .reposiveMenu{
        list-style: none;
        margin: auto;
        
    }
    .reposiveMenu .menuListR .menuLinkR{
        text-decoration: none;
        font-size: 20px;
        line-height: 2em;
        transition: 100ms ease-in-out;
        color: #fff;
    }
    .reposiveMenu .menuListR .menuLinkR:hover{
        color: #DBF14C;
    }
    
    .menuLinkR i{
        margin-right: 10px;
    }
    
    
    .menuLinkR::after{
        content: "";
        background: #DBF14C;
        width: 0px;
        display: block;
        transition: 100ms ease-in-out;
        height: 5px;
        border-radius: 10px;
    }
    .menuLinkR:hover:after{
        width: 100%;
    }
    
    .navLoginR{
        background: rgb(219, 241, 76);
        padding: 12px 30px 12px 30px;
        border-radius: 5px;
        color: #111;
        text-decoration: none;
        font-size: 18px;
        text-transform: capitalize;
        transition: 100ms ease-in-out;
        position: relative;
        top: 30px;
    }
    
    .navLoginR:hover{
       
        background: rgb(227, 228, 216);
        
    }

    /* This is code banner section */

    .banner{
        margin: auto;
        flex-direction: column-reverse;
    }
    .banner .rowBox:nth-child(1){
        width: 80%;
        text-align: center;
    }
    .banner .rowBox:nth-child(2){
        margin-bottom: 50px;
        width: 80%;
    }
    h1{
        font-size: 45px;
    }

    /* This is about section */

    .aboutContainer .rowBox:nth-child(1){
        width: 80%;
        text-align: center;
        margin: auto;
    }
    .aboutContainer .rowBox:nth-child(2){
        margin-bottom: 50px;
        width: 80%;
        display: flow-root;
        margin: auto;
        text-align: center;
    }
    .geerColor3{
        font-size: 10vw;
        margin-bottom: 10px;
    }

    /* This is skills section  */

    .skills{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .skills{
        flex-wrap: wrap;
    }
}



/* This is skills section */




/* 
Mobile view */

@media(max-width: 500px){

    

    h1{
        font-size: 30px;
    }
    .banner{
        margin: auto;
        flex-direction: column-reverse;
    }
    .banner .rowBox:nth-child(1){
        width: 100%;
        text-align: center;
    }
    .banner .rowBox:nth-child(2){
        margin-bottom: 50px;
        width: 100%;
    }

    .jeromeImage img{
        width: 200px;
        height: 200px;
    }

    .svgImage{
        width: 250px;
        height: 250px;
    }

    /* progress Circle */
    .holderProgress{
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 980px) {
  .columns .column {
    margin-bottom: 5px;
    flex-basis: 40%;
  }
  .columns .column:nth-last-child(2) {
    margin-right: 0;
  }
  .columns .column:last-child {
    flex-basis: 100%;
    margin: 0;
  }
}
@media screen and (max-width: 680px) {
  .columns .column {
    flex-basis: 100%;
    margin: 0 0 5px 0;
  }
}

.columns {

	display: flex;
	flex-flow: row wrap;
	justify-content: center;
    margin: auto;
}

.column {
	flex: 1;
	border: none;
    padding: 26px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px #11111140;
	
}


.wrapper {
	padding: 5px;
	max-width: 960px;
	width: 95%;
	margin: 20px auto;
}



/* Float four columns side by side */
.rowProject .column {
  float: left;
  padding: 0 10px;
  align-items: center;
}

/* Remove extra left and right margins, due to padding */
.rowProject {margin: 0 -5px;}

/* Clear floats after the columns */
.rowProject:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
   .rowProject .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.rowProject .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  width: 300px;
  height: 300px;
  text-align: center;
  background-color: #f1f1f1;
}


/* 
///////////// */

.ProjectSection{
    text-align: center;
    background: #ffffff;
}

.work-xp{
    height: 20px;
    display: flex;
    padding: 0;
    padding: 50px;
    align-items: center;
    justify-content: center;
}

.work-text-xp{
    color: #fff;
}

.work-xp .marquee-image{
    width: 150px;
    padding: 0px 0px 0px 20px;
}

.work-xp .gcrayons-resize{
    width: 90px;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
		-webkit-tap-highlight-color: transparent;
}

.button {
	width: 150px;
	height: 50px;
	cursor: pointer;
	font-size: 20px;
	font-weight: bold;
	color: #323336;
	border: 1px solid #c0ae7f;
	box-shadow: 5px 5px 0 #c0ae7f,
		-5px -5px 0 #c0ae7f,
		-5px 5px 0 #c0ae7f,
		5px -5px 0 #c0ae7f;
	transition: 100ms ease-in-out;
}

.button:hover {
	box-shadow: 20px 5px 0 #c0ae7f, -20px -5px 0 #c0ae7f;
}

.button:focus {
	outline: none;
}


img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	display: inline-block;
}

/* Main CSS */
.grid-wrapper > div {
	display: flex;
	justify-content: center;
	align-items: center;
}
.grid-wrapper > div > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 5px;
}

.grid-wrapper {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-auto-rows: 200px;
	grid-auto-flow: dense;
}
.grid-wrapper .wide {
	grid-column: span 2;
}
.grid-wrapper .tall {
	grid-row: span 2;
}
.grid-wrapper .big {
	grid-column: span 2;
	grid-row: span 2;
}



.project-cont div:nth-child(1){
    border: solid 1px #555;
    width: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    margin: auto;
}

.project-cont div:nth-child(2){
    width: 280px;
    display: flex;
     border: solid 1px #555;
    justify-content: center;
    align-items: center;
    height: 70px;
    margin: auto;
}

.project-cont .columns{
    margin: auto;
    padding: 0;
}

.project-cont{
    box-shadow: none;
    padding: 0;
    border: solid 1px #555;
    margin: 20;
}
